@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        max-width: 100vw;
        -webkit-text-size-adjust: 100%;
    }

    body {
        overflow-x: hidden;
        overflow-y: visible;
        position: relative;
        width: 100%;
        max-width: 100vw;
        min-height: 100vh;
    }

    #app {
        min-height: 100vh;
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        display: none;
    }

    input[type="password"]::-webkit-contacts-auto-fill-button,
    input[type="password"]::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        height: 0;
        width: 0;
        margin: 0;
    }
}

