@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
        -webkit-text-size-adjust: 100%;
    }

    body {
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

